body{
	line-height: 1.5em;
	font-family: tahoma;
	padding: 0;
	
}
h2{
	font-size: 3.5em;
	font-weight: normal;
	color: #005580;
	

	 
}
h3{
	font-size: 3.5em;
	font-weight: normal;
	color: #005580;
	margin-left: 80px;
}

#hidden-html{
	display: none;
}

ul{
	padding: 0;
	margin-bottom: 36px;
	margin-top: 8px;
}

li{
	font-size: 14px;
	display: block;
	color: #46F;
	cursor: pointer;
	padding: 2px 4px;
	line-height: 18px;
}
li:hover{
	color: #68F;
}
